.dashboard-wrapper-reviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #f5f5f5;
    row-gap: 20px;
    padding-top: 30px;
    position: relative;
  }
  
  .actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .actions-wrapper > * {
    margin: 0 10px;
  }
  .actions-wrapper button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .welcome-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .preview-work-wrapper {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position:relative;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px; */
  }
  
  .corner-title {
    position: absolute;
    z-index: 2;
    left: 100px;
    top: -11px;
    font-weight: 700;
  }
  