.dashboard-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
   
}
.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;
}
.dashboard-header h2 {
    display: inline-block;
}
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.dashboard-content .dashboard-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.dashboard-content .dashboard-content-wrapper .dashboard-content-wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;
}
.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.cards-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.cards-container .card:hover {
    border: 1px solid #000;
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;
}